.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#logout-form {
    display: inline;
}

#logout-form button {
    padding: 0;
    margin: 0;
}

p{
    font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
}